.gallery {
    box-sizing: border-box;
    padding-left: 1.5rem;
}

/* position image container */
.gallery-container {
    position: relative;
    width: 70%;
    height: auto;
    border: 1rem solid #651f1f;
    margin-left: 15%;
}

/* hide images by default */
.mySlides {
    display: none;
}

/* add a pointer when hovering over thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #cd4545;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover add black background color */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    background-color: #00000040;
    color: white;
    font-size: 12px;
    font-weight: 800;
    padding: 8px 12px;
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 24%;
}

.demo {
    opacity: 0.6;
    border: 1px solid #651f1f;
}

.active,
.demo:hover {
    opacity: 1;
}